# Temp files
*~
*.un~
*.swp
*.old
*.index
*.log
*.pid

# Binaries, private and temporary folders
logs/
letsencrypt/
*_temp/
sources/
php/
mysqld/
proxy_temp/
scgi_temp/
uwsgi_temp/
fastcgi_temp/
bot/
data/
old_stuff/