[Unit]
Description=tdrz.nl & co
After=multi-user.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=no
#   User=guus
#   Group=guus
WorkingDirectory=/home/guus/web
ExecStart=/home/guus/web/run start
ExecStop=/home/guus/web/run stop

[Install]
WantedBy=multi-user.target

